{
  branches:
    [
      "+([0-9])?(.{+([0-9]),x}).x",
      "main",
      { name: "develop", prerelease: "beta", channel: "beta" },
    ],
  plugins:
  [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "echo \"version=${nextRelease.version}\" >> $GITHUB_OUTPUT",
        "successCmd": "echo \"new_release_published=${'true'}\" >> $GITHUB_OUTPUT",
      }
    ],
    "@semantic-release/release-notes-generator",
    ["@semantic-release/git", {
          "assets": ["action.yml", ".github/workflows/release.yml"],
          "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }],
    "@semantic-release/github",
  ],
}
